<mat-card class="mat-card">
  <mat-card-header>
      <mat-card-title><p>#{{pokemons.id}}: {{pokemons.name}}</p></mat-card-title>
      <mat-card-subtitle>
        <span *ngFor="let type of pokemons.types; let indexOfelement=index;">{{type.type.name}}
          <span *ngIf="pokemons!.types.length > 0 || indexOfelement != pokemons!.types.length"> | </span>
        </span>
      </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Weight: {{pokemons.weight}} hg</p>
    <p>Height: {{pokemons.height}} dm</p>
  </mat-card-content>


</mat-card>
